<HTML lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jaunty Jalopies|CS6400|Team030</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A platform for crowd-sourced knowledge capture">
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <!-- link home-built css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    
        <style>
            select,
            input {
                width: 180px;
                height: 25px;
                margin: 1px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
    
            label
            {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5 em;
            color: rgb(48, 47, 133);
            font-weight: bold;
            }
            select {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
            }
    
            div.hidden {
                display: none;
            }
            legend {
                text-align: center;
                background: #364351;
                width: 100%;
                padding: 10px 0;
                border-radius: 3px 3px 0 0;
                color: white;
                font-size:1em;
            }
            form {
                
            }

            .left {
                background-color: antiquewhite;
                background-blend-mode: lighten;
                float: left;
                text-align: left;
                width : 50%;

            }
            .right {
                background-color: antiquewhite;
                background-blend-mode: lighten;
                float:right;
                text-align: left;
                width : 50%;

            }
            #parts {
                display:block;
            }
        </style>
    
        <script type="text/javascript">
        var vinfound = false;
        var customerfound = false;
            function addpartsection() {
                var parts = document.getElementById("parts");
                var parts_field = parts.getElementsByClassName("parts_detail")[0];
                var btn_moreparts = document.getElementById("btn_moreparts");
            
                var fieldset = parts_field.cloneNode(true);            
                parts.insertBefore(fieldset,btn_moreparts);
            }
            function addpartdata() {
                // repiarid= $("#repairid").attr(value)
                $("#messagepart").text('')
                v_vin = $("#val_vin").val()
                if ($("#customer_id").length == 0){
                    customer_id =  '';
                }else{
                    customer_id = $("#customer_id").attr('value')
                }
                part_id = $("#part_id").val()
                part_vendor = $("#part_vendor").val()
                part_cost = $("#part_cost").val()
                part_quantity = $("#part_quantity").val()
                addtype = "part"

                if (part_id == '' || part_vendor == '' || part_cost == '' || part_quantity == ''){
                    $("#messagepart").text('Please fill in all the information. Repair should also exist')
                    $("#messagepart" ).animate( {fontSize: '1.2em'}, "fast");
                    $("#messagepart" ).animate( {fontSize: '1em'}, "fast");
                /* }else if(vinfound == false || customerfound == false){
                    $("#message").text('Please make sure vehicle and customer are valid.') */
                }else{
                
                    $.ajax({
                    type : 'POST',
                    url : "/add_repair_ajax",
                    //data : $('form').serialize(),
                    data : {'addtype':addtype,'v_vin': v_vin, 'customer_id': customer_id,  'part_id': part_id, 
                    "part_vendor": part_vendor, "part_cost" :part_cost, "part_quantity":part_quantity },
                    success: function(response){
                        //console.log(response);
                        console.log(response)
                        $("#messagepart").text(response)
                        $("#messagepart" ).animate( {fontSize: '1.2em'}, "fast");
                        $("#messagepart" ).animate( {fontSize: '1em'}, "fast");
                    },
                    error: function(error){
                        console.log(error);
                    }
                    })
                }
            }
            function clearpartdata(){
                $("#part_id").val("");
                $("#part_vendor").val("");
                $("#part_cost").val("");
                $("#part_quantity").val("");
            }
            function lookupvehicle(){
                vinfound = false;
                v_vin = $("#val_vin").val()
                $.ajax({
                type : 'POST',
                url : "/search_vehicle_ajax",
                //data : $('form').serialize(),
                data : {'v_vin': v_vin},
                success: function(response){
                    //console.log(response);
                    console.log(response)
                    $("#vehicle_search_result").html(response);
                    vinfound = true;
                },
                error: function(error){
                    //console.log(error);
                }
                })
            }
            function lookupcustomer(){
                customerfound = false;
                c_id = $("#c_id").val();
                c_type = $("#c_type").val()[0];
                console.log(c_id)
                $.ajax({
                type : 'POST',
                url : "/search_customer_ajax",
                //data : $('form').serialize(),
                data : {'c_id': c_id, 'c_type': c_type},
                success: function(response){
                    //console.log(response);
                    console.log(response)
                    $("#customer_search_result").html(response);
                    customerfound = true;
                },
                error: function(error){
                    console.log(error);
                }
                })
            }
            function addrepair(){
                $("#message").text('')
                addtype = 'repair'
                btn_add_r = 'Add Repair'
                v_vin = $("#val_vin").val()
                if ($("#customer_id").length == 0){
                    customer_id =  '';
                }else{
                    customer_id = $("#customer_id").attr('value')
                }
                
                console.log(customer_id)
                v_odometer = $("#v_odometer").val()
                v_labor = $("#v_labor").val()
                r_description = $("#r_description").val()
                console.log(vinfound)
                console.log(customerfound)
                if (v_vin == '' || customer_id == '' || v_odometer == '' || v_labor == ''){
                    $("#message").text('Please fill in all the information. Customer and vehicle also need to be valid.')
                    $("#message" ).animate( {fontSize: '1.2em'}, "fast");
                    $("#message" ).animate( {fontSize: '1em'}, "fast");
                /* }else if(vinfound == false || customerfound == false){
                    $("#message").text('Please make sure vehicle and customer are valid.') */
                }else{
                
                    $.ajax({
                    type : 'POST',
                    url : "/add_repair_ajax",
                    //data : $('form').serialize(),
                    data : {'addtype': addtype, 'v_vin': v_vin, 'customer_id': customer_id, "v_odometer": v_odometer, "v_labor" :v_labor , "r_description": r_description},
                    success: function(response){
                        //console.log(response);
                        console.log(response)
                        $("#message").text(response)
                        $("#message" ).animate( {fontSize: '1.2em'}, "fast");
                        $("#message" ).animate( {fontSize: '1em'}, "fast");
                        /* if (response.length > 1){
                            $("#repairID").text(response[1])
                        } */
                        
                    },
                    error: function(error){
                        console.log(error);
                    }
                    })
                 }
            }
            
            function update_labor_charges(){
                $("#message").text('')
                addtype = 'update'
                v_vin = $("#val_vin").val()
                if ($("#customer_id").length == 0){
                    customer_id =  '';
                }else{
                    customer_id = $("#customer_id").attr('value')
                }
                
                console.log(customer_id)
                v_odometer = $("#v_odometer").val()
                v_labor = $("#v_labor").val()
                r_description = $("#r_description").val()
                console.log(vinfound)
                console.log(customerfound)
                if (v_vin == '' || v_labor == ''){
                    $("#message").text('Please fill in all the information. Vehicle also need to be valid.')
                /* }else if(vinfound == false || customerfound == false){
                    $("#message").text('Please make sure vehicle and customer are valid.') */
                }else{
                
                    $.ajax({
                    type : 'POST',
                    url : "/add_repair_ajax",
                    //data : $('form').serialize(),
                    data : {'addtype': addtype, 'v_vin': v_vin, "v_labor": v_labor},
                    success: function(response){
                        //console.log(response);
                        console.log(response)
                        $("#message").text(response)
                        /* if (response.length > 1){
                            $("#repairID").text(response[1])
                        } */
                        
                    },
                    error: function(error){
                        console.log(error);
                    }
                    })
                 }
            }

            
            function completing_repair(){
                $("#message").text('')
                addtype = 'close'
                v_vin = $("#val_vin").val()
                if ($("#customer_id").length == 0){
                    customer_id =  '';
                }else{
                    customer_id = $("#customer_id").attr('value')
                }
                
                console.log(customer_id)
                v_odometer = $("#v_odometer").val()
                v_labor = $("#v_labor").val()
                r_description = $("#r_description").val()
                console.log(vinfound)
                console.log(customerfound)
                if (v_vin == ''){
                    $("#message").text('To close a repair on a vehicle, the VIN needs to be valid.')
                /* }else if(vinfound == false || customerfound == false){
                    $("#message").text('Please make sure vehicle and customer are valid.') */
                }else{
                
                    $.ajax({
                    type : 'POST',
                    url : "/add_repair_ajax",
                    //data : $('form').serialize(),
                    data : {'addtype': addtype, 'v_vin': v_vin},
                    success: function(response){
                        //console.log(response);
                        console.log(response)
                        $("#message").text(response)
                        /* if (response.length > 1){
                            $("#repairID").text(response[1])
                        } */
                        
                    },
                    error: function(error){
                        console.log(error);
                    }
                    })
                 }
            }
        </script>
    
    </head>
    
    <BODY style="background-image:url('../static/images/car.png');  height:100%;
        background-position: center; background-repeat: no-repeat; background-size:cover;">
    
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
            {% if logged_in != "" %}
            {% if user_role == "inventory_clerk" %}
            <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
            {% elif user_role == "manager" %}
            <a href="{{ url_for('view_reports') }}">View Reports</a>
            {% elif user_role == "service_writer" %}
            <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
            {% elif user_role == "sales_people" %}
            <a href="{{ url_for('add_sale') }}">Add Sale</a>
            {% elif user_role == "owner" %}
            <div class="dropdown">
                <button class="dropbtn">Operations
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('add_sale') }}">Add Sale</a>
                    <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                    <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                    <a href="{{ url_for('view_reports') }}">View Reports</a>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <!-- <a href="#">Contact Us</a> -->
            <div class="dropdown">
                <button class="dropbtn">Employee
                    <i class="fa fa-caret-down"></i>
                </button>
                {% if logged_in == "" or logged_in == null %}
    
                <div class="dropdown-content">
                    <a href="{{ url_for('login') }}">Log In</a>
                </div>
                {% else %}
                <div class="dropdown-content">
                    <h3>Hi, {{ logged_in }}!</h3>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </div>
                {% endif %}
            </div>
        </div>
        
        {% if (user_role == "owner") or (user_role == "service_writer")  %}
        <div class="left">
        <form method="POST" action="" id="add_r">
            <fieldset>
                <legend>Check if the vehicle is in the inventory or was sold or it has open repair</legend>
                <div>
                    <label>VIN</label>
                    <input type="text" id="val_vin" name="v_vin">
                    <input type="button" onclick = "lookupvehicle()" id="btn_vin" name="btn_search_v" value="Search by VIN">
                </div>
            </fieldset>

            <fieldset>
                <div>
                    <legend>Look up customer</legend>
                    <label>Customer type</label>
                    <select id="c_type" name="c_type" style="height:60px" multiple>
                        <option>Person</option>
                        <option>Business</option>
                    </select>
                </div>
                <div>
                    <label>license# or taxID</label>
                    <input type="text" name="c_id" id="c_id">
                    <input type="button" onclick = "lookupcustomer()" id="btn_search_c" value="Search customer">
                </div>
            </fieldset>

            <fieldset>
                <legend>Add/Update Repair details</legend>
                <div>
                    <label>odometer</label>
                    <input type="text" name="v_odometer" id="v_odometer">
                </div>
                <div>
                    <label>labor charge</label>
                    <input type="text" name="v_labor" id="v_labor">
                </div>
                <div>
                    <label>repair descriptionn</label>
                    <input type="text" name="r_description" id="r_description">
                </div>
            </fieldset>

            <input type="button" id="add_r" onclick="addrepair()" name="btn_add_r" value="Add New Repair" style="width:130px">
            <input type="button" id="add_r" onclick="update_labor_charges()" name="btn_add_r" value="Update Labor Charges" style="width:150px">   
            <input type="button" id="add_r" onclick="completing_repair()" name="btn_add_r" value="Close the Repair" style="width:120px">    
            
            <p id="message" style="color:rgb(180, 63, 135);"></p>
            <!-- <p>Repair ID:</p><p id="repairID" value={{repairID}}></p> -->

            <fieldset id="parts">
                <legend>Add parts</legend>
                <fieldset class="parts_detail">
                    <div>
                        <label>Part ID</label>
                        <input type="text" name="part_id" id="part_id">
                    </div>
                    <div>
                        <label>Part vendor</label>
                        <input type="text" name="part_vendor" id="part_vendor">
                    </div>
                    <div>
                        <label>Part quantity</label>
                        <input type="text" name="part_quantity" id="part_quantity">
                    </div>
                    <div>
                        <label>Part cost</label>
                        <input type="text" name="part_cost" id="part_cost">
                    </div>
                 </fieldset>
                <button id="btn_moreparts" onclick = "addpartdata()" type="button">Submit part</button>
                <button id="btn_addanother" onclick = "clearpartdata()" type="button">Add another part</button>
                <p id="messagepart" style="color:rgb(180, 63, 135);"></p>
            </fieldset>
       
            

            
        </form>
        
        </div>

        <div class = "right">
            <fieldset>
                <div><h3>Vehicle and open repair search result</h3></div>
                <div id="vehicle_search_result"></div>
            </fieldset>

            <fieldset>
                <div><h3>Customer search result</h3></div>
                <div id="customer_search_result"></div>
            </fieldset>
            
                      
        </div>

        
        {% else %}
        <h1>You are not authorized to add repair</h1>
        {% endif %}
        
    
        {% block javascript %}
        <!-- Bootstrap JS and its dependencies-->
        <!-- Your stuff: Third-party javascript libraries go here -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <!-- place project specific Javascript in this file -->
        <script src="../static/js/project.js"></script>
        {% endblock javascript %}
    </BODY>
    
    </HTML>