<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">

    <style>
        select,
        input {
            width: 180px;
            height: 25px;
            margin: 1px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        label {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            color: rgb(243, 65, 15);
            font-weight: bold;
        }

        select {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }

        div.hidden {
            display: none;
        }
    </style>

    <script type="text/javascript">
        function ChangeDropdowns(value) {
            if (value == "Car") {
                document.getElementById('v_type_convertible').style.display = 'none';
                document.getElementById('v_type_truck').style.display = 'none';
                document.getElementById('v_type_van').style.display = 'none';
                document.getElementById('v_type_suv').style.display = 'none';
                document.getElementById('v_type_car').style.display = 'block';
            } else if (value == "Convertible") {
                document.getElementById('v_type_truck').style.display = 'none';
                document.getElementById('v_type_car').style.display = 'none';

                document.getElementById('v_type_van').style.display = 'none';
                document.getElementById('v_type_suv').style.display = 'none';
                document.getElementById('v_type_convertible').style.display = 'block';
            } else if (value == "Truck") {
                document.getElementById('v_type_convertible').style.display = 'none';
                document.getElementById('v_type_car').style.display = 'none';
                document.getElementById('v_type_van').style.display = 'none';
                document.getElementById('v_type_suv').style.display = 'none';
                document.getElementById('v_type_truck').style.display = 'block';
            } else if (value == "Van") {
                document.getElementById('v_type_suv').style.display = 'none';
                document.getElementById('v_type_convertible').style.display = 'none';
                document.getElementById('v_type_car').style.display = 'none';
                document.getElementById('v_type_truck').style.display = 'none';
                document.getElementById('v_type_van').style.display = 'block';
            } else if (value == "SUV") {
                document.getElementById('v_type_convertible').style.display = 'none';
                document.getElementById('v_type_car').style.display = 'none';
                document.getElementById('v_type_truck').style.display = 'none';
                document.getElementById('v_type_van').style.display = 'none';
                document.getElementById('v_type_suv').style.display = 'block';
            }
        }
    </script>

</head>

<BODY style="background-image:url('../static/images/car.png');  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">

    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
        {% if logged_in != "" %}
        {% if user_role == "inventory_clerk" %}
        <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
        {% elif user_role == "manager" %}
        <a href="{{ url_for('view_reports') }}">View Reports</a>
        {% elif user_role == "service_writer" %}
        <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
        {% elif user_role == "sales_people" %}
        <a href="{{ url_for('add_sale') }}">Add Sale</a>
        {% elif user_role == "owner" %}
        <div class="dropdown">
            <button class="dropbtn">Operations
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('add_sale', logged_in = logged_in ) }}">Add Sale</a>
                <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                <a href="{{ url_for('view_reports') }}">View Reports</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!-- <a href="#">Contact Us</a> -->
        <div class="dropdown">
            <button class="dropbtn">Employee
                <i class="fa fa-caret-down"></i>
            </button>
            {% if logged_in == "" or logged_in == null %}

            <div class="dropdown-content">
                <a href="{{ url_for('login') }}">Log In</a>
            </div>
            {% else %}
            <div class="dropdown-content">
                <h3>Hi, {{ logged_in }}!</h3>
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
            {% endif %}
        </div>
    </div>
    
    {% if (user_role == "owner") or (user_role == "inventory_clerk")  %}
    <form method="POST" action="">
        <center>
            <H2>Please carefully fill out below items to add a vehicle!</H2>
            <div>
                <label>VIN</label>
                <input type="text" name="vin" required>
            </div>
            <!-- <div>
                <label>Manufacturer</label>
                <select name="manufacturer" style="height:30px">
                    {% for manufacturer in manufacturers %}
                    <option>{{ manufacturer }}</option>
                    {% endfor %}
                </select>
            </div> -->
            <div>
                <label>Manufacturer</label>
                <input list="manufacturer" name="manufacturer">
                <datalist id="manufacturer">
                    {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer }}""> 
                        <!-- <option value="Chrome">
                        <option value="Firefox">
                        <option value="Internet Explorer">
                        <option value="Opera">
                        <option value="Safari">
                        <option value="Microsoft Edge"> -->
                    {% endfor %}
                </datalist>
            </div>

            <div>
                <label>Model</label>
                <input type="text" name="model" required>
            </div>
            <div>
                <label>Model year</label>
                <select name="model_year" style="height:30px">
                    <option>-- select one --</option>
                    <option>2022</option>
                    <option>2021</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2015</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2009</option>
                    <option>2008</option>
                    <option>2007</option>
                    <option>2006</option>
                    <option>2005</option>
                    <option>2004</option>
                    <option>2003</option>
                    <option>2002</option>
                    <option>2001</option>
                    <option>2000</option>
                    <option>1999</option>
                    <option>1998</option>
                    <option>1997</option>
                    <option>1996</option>
                    <option>1995</option>
                    <option>1994</option>
                    <option>1993</option>
                    <option>1992</option>
                    <option>1991</option>
                    <option>1990</option>
                    <option>1989</option>
                    <option>1988</option>
                    <option>1987</option>
                    <option>1986</option>
                    <option>1985</option>
                    <option>1984</option>
                    <option>1983</option>
                    <option>1982</option>
                    <option>1981</option>
                    <option>1980</option>
                    <option>1979</option>
                    <option>1978</option>
                    <option>1977</option>
                    <option>1976</option>
                </select>
            </div>
            <div>
                <label>Color (s)</label>
                <select name="colors" style="height:60px" multiple>
                    <option>Aluminum</option>                    <option>Beige</option>
                    <option>Black</option>                    <option>Blue</option>
                    <option>Brown</option>                    <option>Bronze</option>
                    <option>Claret</option>                    <option>Copper</option>
                    <option>Cream</option>                    <option>Gold</option>
                    <option>Gray</option>                    <option>Green</option>
                    <option>Maroon</option>                    <option>Metallic</option>
                    <option>Navy</option>                    <option>Orange</option>
                    <option>Pink</option>                    <option>Purple</option>
                    <option>Red</option>                    <option>Rose</option>
                    <option>Rust</option>                    <option>Silver</option>
                    <option>Tan</option>                    <option>Turquoise</option>
                    <option>White</option>                    <option>Yellow</option>
                </select>
            </div>
            <div>
                <label>Type</label>
                <select name="v_type" onchange="ChangeDropdowns(this.value);">
                    <option value="select" selected disabled>Select</option>
                    <option value="Car">Car</option>
                    <option value="Convertible">Convertible</option>
                    <option value="Truck">Truck</option>
                    <option value="Van">Van/Minivan</option>
                    <option value="SUV">SUV</option>
                </select>

            </div>
            <div class="hidden" id="v_type_car" name="v_type_car">
                <label>Number of doors</label>
                <input type="text" name="n_doors" maxlength=4 size=4 style="width: 24px;">
            </div>
            <div class="hidden" id="v_type_convertible" name="v_type_convertible">
                <label>Roof type</label>
                <input type="text" name="roof_type" maxlength=60 size=60 style="width: 100px;">
                <label>Back seat count</label>
                <input type="text" id="back_seat_count" name="back_seat_count" maxlength=4 size=4 style="width: 24px;">
            </div>
            <div class="hidden" id="v_type_truck" name="v_type_truck">
                <label>Cargo capacity (tons)</label>
                <input type="text" name="cargo_capacity" maxlength=4 size=4 style="width: 24px;">
                <label>Cargo cover type</label>
                <input type="text" name="cargo_cover_type" style="width: 60px;">
                <label># of rear axles</label>
                <input type="text" name="n_rear_axles" maxlength=4 size=4 style="width: 24px;">
            </div>
            <div class="hidden" id="v_type_van" name="v_type_van">
                <label>Has Driver’s Side Back Door</label>
                <select name="has_driver_side_back_door" style="width: 64px;">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="hidden" id="v_type_suv" name="v_type_suv">
                <label>Drivetrain type</label>
                <select name="drivetrain_type" style="width: 64px;">
                    <option value="AWD">AWD</option>
                    <option value="4WD">4WD</option>
                    <option value="FWD">FWD</option>
                    <option value="RWD">RWD</option>
                    <option value="Other">Other</option>
                </select>
                <label>Number of cup-holders</label>
                <input type="text" name="n_cup_holders" style="width: 24px;">
            </div>

            <div>
                <label>Invoice Prices</label>
                <input type="text" name="invoice_price" required>
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="description" style="height:60px" maxlength="500" size="20">
            </div>

            <input type="submit" name="btn_add_v" value="Add Vehicle" style="width:120px;font-size:16px;color:green;font-weight: bold;">
            <input type="submit" name="btn_add_v" value="Cancel" style="width:100px;font-size: 16px;color:green;font-weight: bold;">

        </center>
    </form>

    {% for message in v_added_messages %}
    <center>
        <h1 style="color:rgb(0, 255, 21);">{{message}}</h1>
    </center>
    {% endfor %}

    {% for v_exist_message in v_exist_messages %}
    <center>
        <h1 style="color:rgb(255, 68, 0);">{{v_exist_message}}</h1>
    </center>
        {% endfor %}

    {% else %}
    <h1>You are not authorized to add vehicle</h1>
    {% endif %}

    {% block javascript %}
    <!-- Bootstrap JS and its dependencies-->
    <!-- Your stuff: Third-party javascript libraries go here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- place project specific Javascript in this file -->
    <script src="../static/js/project.js"></script>
    {% endblock javascript %}
</BODY>

</HTML>