<HTML lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jaunty Jalopies|CS6400|Team030</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A platform for crowd-sourced knowledge capture">
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <!-- link home-built css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    
        <style>
            select,
            input {
                width: 180px;
                height: 25px;
                margin: 1px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
    
            label
            {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5 em;
            color: rgb(48, 47, 133);
            font-weight: bold;
            }
            select {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
            }
    
            div.hidden {
                display: none;
            }
            legend {
                text-align: center;
                background: #364351;
                width: 100%;
                padding: 10px 0;
                border-radius: 3px 3px 0 0;
                color: white;
                font-size:1em;
            }
            form {
                
            }

            .left {
                background-color: antiquewhite;
                background-blend-mode: lighten;
                float: left;
                text-align: left;
                width : 50%;

            }
            .right {
                background-color: antiquewhite;
                background-blend-mode: lighten;
                float:right;
                text-align: left;
                width : 50%;

            }
            #parts {
                visibility: hidden;
            }
        </style>
    
        <script type="text/javascript">
            $(document).ready(function(){
                $("#c_type").change(function(){
                    var selected = $(this).children("option:selected").val();
                    if (selected == "Person"){
                        $("#c_person").css('display','block')
                        $("#c_business").css('display','none')
                    }else{
                        $("#c_business").css('display','block')
                        $("#c_person").css('display','none')
                    }

                });
                
            })
            
            function addcustomer(){
                c_type = $("#c_type").val()[0];
                phone =  $("#phone").val();
                email =  $("#email").val();
                street =  $("#street").val();
                city =  $("#city").val();
                state =  $("#state").val();
                postal_code =  $("#postal_code").val();
                license_number = $("#license_number").val();
                first_name = $("#first_name").val();
                last_name = $("#last_name").val();
                tax_ID = $("#tax_ID").val();
                business_name = $("#business_name").val();
                c_first_name = $("#c_first_name").val();
                c_last_name = $("#c_last_name").val();
                title = $("#title").val();

                
                $.ajax({
                type : 'POST',
                url : "/add_customer",
                //data : $('form').serialize(),
                data : {'c_type': c_type, 'phone': phone, "email": email, "street" :street , "city": city,
                        'state': state, 'postal_code': postal_code, "license_number": license_number, "first_name" :first_name , "last_name": last_name,
                        'tax_ID': tax_ID, 'business_name': business_name, "c_first_name": c_first_name, "c_last_name" :c_last_name , "title": title},
                success: function(response){
                    //console.log(response);
                    console.log(response)
                    $("#message").text(response)
                },
                error: function(error){
                    console.log(error);
                }
                })
            }
            
            function goBack() {
                window.history.back();
            }
        </script>
    
    </head>
    
    <BODY style="background-image:url('../static/images/car.png');  height:100%;
        background-position: center; background-repeat: no-repeat; background-size:cover;">
    
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
            {% if logged_in != "" %}
            {% if user_role == "inventory_clerk" %}
            <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
            {% elif user_role == "manager" %}
            <a href="{{ url_for('view_reports') }}">View Reports</a>
            {% elif user_role == "service_writer" %}
            <a href="{{ url_for('add_repair') }}">Add Repair</a>
            {% elif user_role == "sales_people" %}
            <a href="{{ url_for('add_sale') }}">Add Sale</a>
            {% elif user_role == "owner" %}
            <div class="dropdown">
                <button class="dropbtn">Operations
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('add_sale') }}">Add Sale</a>
                    <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                    <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                    <a href="{{ url_for('view_reports') }}">View Reports</a>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <!-- <a href="#">Contact Us</a> -->
            <div class="dropdown">
                <button class="dropbtn">Employee
                    <i class="fa fa-caret-down"></i>
                </button>
                {% if logged_in == "" or logged_in == null %}
    
                <div class="dropdown-content">
                    <a href="{{ url_for('login') }}">Log In</a>
                </div>
                {% else %}
                <div class="dropdown-content">
                    <h3>Hi, {{ logged_in }}!</h3>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </div>
                {% endif %}
            </div>
        </div>
    
        <div class="left">
        <form method="POST" action="" id="add_r">

            <fieldset>
                <div>
                    <legend>Add customer</legend>
                    <label>Customer type</label>
                    <select id="c_type" name="c_type" style="height:60px" multiple>
                        <option>Person</option>
                        <option>Business</option>
                    </select></br>
                    <label>phone</label>
                    <input type="text" name="phone" id="phone"></br>
                    <label>Email</label>
                    <input type="text" name="email" id="email"></br>
                    <label>Street</label>
                    <input type="text" name="street" id="street"></br>
                    <label>City</label>
                    <input type="text" name="city" id="city"></br>
                    <label>State</label>
                    <input type="text" name="state" id="state"></br>
                    <label>postal_code</label>
                    <input type="text" name="postal_code" id="postal_code"></br>
                </div>
                
            </fieldset>

            <fieldset id="c_person" style="display:none;">
                <div>
                    <label>license# </label>
                    <input type="text" name="license_number" id="license_number"></br>
                    <label>First Name</label>
                    <input type="text" name="first_name" id="first_name"></br>
                    <label>Last Name</label>
                    <input type="text" name="last_name" id="last_name"></br>
                </div>
            </fieldset>

            <fieldset id="c_business" style="display:none;">
                <div>
                    <label>tax_ID </label>
                    <input type="text" name="tax_ID" id="tax_ID"></br>
                    <label>Business_name </label>
                    <input type="text" name="business_name" id="business_name"></br>
                    <label>Primary Contact Person First Name</label>
                    <input type="text" name="c_first_name" id="c_first_name"></br>
                    <label>Primary Contact Person Last Name</label>
                    <input type="text" name="c_last_name" id="c_last_name"></br>
                    <label>Primary Contact Person Title</label>
                    <input type="text" name="title" id="title"></br>
                </div>
            </fieldset>

            
            <input type="button" id="add_c" onclick="addcustomer()" name="btn_add_c" value="Add Customer" style="width:100px">
            <button type="button" onclick="goBack()">Go Back</button>
            
            <p id="message" style="color:rgb(180, 63, 135);">{{message}}</p>

            
            

            
        </form>
        
        </div>

        
        
       
        
    
        {% block javascript %}
        <!-- Bootstrap JS and its dependencies-->
        <!-- Your stuff: Third-party javascript libraries go here -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <!-- place project specific Javascript in this file -->
        <script src="../static/js/project.js"></script>
        
        {% endblock javascript %}
    </BODY>
    
    </HTML>