<HTML lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jaunty Jalopies|CS6400|Team030</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A platform for crowd-sourced knowledge capture">
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- link home-built css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
        <style>
            td {
                padding: 8px;
                font-size: 1em;
                color: rgb(27, 33, 19)
            }
    
            th {
                padding: 10px;
                font-size: 1em;
                font-weight: bold;
                color: black;
                cursor: pointer;
            }
    
            tr:nth-child(even) {
                background-color: #f2f2f2
            }
            .left {
                background-color: antiquewhite;
                background-blend-mode: lighten;
                float: left;
                text-align: left;
                width : 100%;

            }
            .right {
                background-color: antiquewhite;
                background-blend-mode: lighten;
                float:right;
                text-align: left;
                width : 30%;

            }
        </style>
        
    
    </head>
    
    <BODY style="background-color:rgb(151, 151, 196);  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>

            <div class="dropdown">
                <button class="dropbtn">Employee
                    <i class="fa fa-caret-down"></i>
                </button>
                {% if logged_in == "" or logged_in == null %}
                    <div class="dropdown-content">
                        <a href="{{ url_for('login') }}">Log In</a>
                    </div>
                {% else %}
                    <div class="dropdown-content">
                        <h3>Hi, {{ logged_in }}!</h3>
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </div>
                {% endif %}
            </div>
            
            <div>
                <div class="dropdown">
                    <button class="dropbtn">Operations
                        <i class="fa fa-caret-down"></i>
                    </button>
                    {% if logged_in != "" %}
                        {% if user_role == "inventory_clerk" %}
                            <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                        {% elif user_role == "manager" %}
                            <div class="dropdown-content">
                                <a href="{{ url_for('view_reports') }}">View Reports</a>
                            </div>
                        {% elif user_role == "service_writer" %}
                            <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                        {% elif user_role == "sales_people" %}
                            <a href="{{ url_for('add_sale') }}">Add Sale</a>
                        {% elif user_role == "owner" %}
                            <div class="dropdown-content">
                                <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                                <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                                <a href="{{ url_for('view_reports') }}">View Reports</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>  
        </div>
        <div class="center">
            <form method="POST" action="">
                <table id="gross_customer_income">
                    <thead>
                        <tr>
                            <th>Customer_ID</th>
                            <th>Name</th>
                            <th>Date of First Transaction</th>
                            <th>Date of Most Recent Transaction</th>
                            <th>Number of Sales</th>
                            <th>Number of Repairs</th>
                            <th>Total Gross Income</th>
                            <th>More Sales Details</th>
                            <th>More Reapirs Details</th>
                        </tr>
                    </thead>    
                    <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td onclick="window.location.href='{{ url_for('customer_sales_detail', value=row) }}';"
                        style="cursor:pointer; text-decoration: underline;">More Sales Detail</td>
                            <td onclick="window.location.href='{{ url_for('customer_repair_detail', value=row) }}';"
                        style="cursor:pointer; text-decoration: underline;">More Repair Detail</td>
                        </tr>
                    {% endfor %}
                    </tbody> 
                </table>    
            </form>     
        </div>
      
    </BODY>
    
    <footer>
        <center>
            <button onclick="window.location.href='{{ url_for('view_reports') }}';"
                                style="cursor:pointer; text-decoration: underline;">Back</button>
        </center>
    </footer>
    
</HTML>