<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
</head>

<BODY style="background-image:url('../static/images/car.png');  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">

    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
        <!-- <a href="#">Contact Us</a> -->
        <!-- <div class="dropdown">
            <button class="dropbtn">Employee
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('login') }}">Log In</a>
            </div>
        </div> -->
    </div>

    <form method="POST" action="" novalidate>
        <center>
            <H3>Employee Login</H3>
            <div>
                <label>Username</label>
                <input type="text" name="uname" required>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="pw" required>
            </div>
            <input type="submit" name="btn_login" value="Login">
            <input type="submit" name="btn_login" value="Cancel">
        </center>
    </form>

    {% for message in error_messages %}
    <center>
        <h3 style="color:red;">{{message}}</h3>
    </center>
    {% endfor %}

    {% block javascript %}
    <!-- Bootstrap JS and its dependencies-->
    <!-- Your stuff: Third-party javascript libraries go here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- place project specific Javascript in this file -->
    <script src="../static/js/project.js"></script>
    {% endblock javascript %}
</BODY>

</HTML>