<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
</head>

<BODY style="background-image:url('../static/images/car.png');  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">

    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
        {% if logged_in != "" %}
            {% if user_role == "inventory_clerk" %}
                <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
            {% elif user_role == "manager" %}
                <div class="dropdown">
                    <button class="dropbtn">Operations
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('view_reports') }}">View Reports</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <!-- <a href="#">Contact Us</a> -->
        <div class="dropdown">
            <button class="dropbtn">Employee
                <i class="fa fa-caret-down"></i>
            </button>
            {% if logged_in == "" %}
                <div class="dropdown-content">
                    <a href="{{ url_for('login') }}">Log In</a>
                </div>
            {% else %}
                <div class="dropdown-content">
                    <h3>Hi, {{ logged_in }}!</h3>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% for name in full_name %}
    <center>
        <h1>Welcome {{name}}!</h1>
        <h1>As a manager you are eligible to view vehicle and their related repairs and sales, and all reports!</h1>
    </center>
    {% endfor %}

    {% if number_of_available_vehicle %}
        <center>
            <h3 style="font-size:200%;">
                Now we have <span style="color: rgb(238, 97, 10);font-weight: bold;">
                    {{number_of_available_vehicle}}</span> vehicles available for customer to purchase.
            </h3>
        </center>
    {% endif %}


    {% block javascript %}
    <!-- Bootstrap JS and its dependencies-->
    <!-- Your stuff: Third-party javascript libraries go here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- place project specific Javascript in this file -->
    <script src="../static/js/project.js"></script>
    {% endblock javascript %}
</BODY>
</HTML>