<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    <style>
        td {
            padding: 8px;
            font-size: 24px;
            color: rgb(27, 33, 19)
        }

        th {
            padding: 10px;
            font-size: 28px;
            font-weight: bold;
            color: black;
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

</head>

<BODY style="background-color:rgb(186,206,208);  height:100%;
        background-position: center; background-repeat: no-repeat; background-size:cover;">
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>

            <div class="dropdown">
                <button class="dropbtn">Employee
                    <i class="fa fa-caret-down"></i>
                </button>
                {% if logged_in == "" or logged_in == null %}
                    <div class="dropdown-content">
                        <a href="{{ url_for('login') }}">Log In</a>
                    </div>
                {% else %}
                    <div class="dropdown-content">
                        <h3>Hi, {{ logged_in }}!</h3>
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </div>
                {% endif %}
            </div>
            
            <div>
                <div class="dropdown">
                    <button class="dropbtn">Operations
                        <i class="fa fa-caret-down"></i>
                    </button>
                    {% if logged_in != "" %}
                        {% if user_role == "inventory_clerk" %}
                            <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                        {% elif user_role == "manager" %}
                            <div class="dropdown-content">
                                <a href="{{ url_for('view_reports') }}">View Reports</a>
                            </div>
                        {% elif user_role == "service_writer" %}
                            <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                        {% elif user_role == "sales_people" %}
                            <a href="{{ url_for('add_sale') }}">Add Sale</a>
                        {% elif user_role == "owner" %}
                            <div class="dropdown-content">
                                <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                                <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                                <a href="{{ url_for('view_reports') }}">View Reports</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>  
        </div>
    </div>

    <form method="POST" action="">
        <center>
            <table id="repair_by_manufacturer">
                <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Repair Count</th>
                        <th>Total Parts Cost</th>
                        <th>Total Labor Cost</th>
                        <th>Total Repair Cost</th>
                        <th>More Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td onclick="window.location.href='{{ url_for('repair_by_type', value=row) }}';"
                            style="cursor:pointer; text-decoration: underline;">More Vehicle Type</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </form>
</BODY>

<footer>
    <p align="center"><a href=view_reports><button class=grey>Back</button></a></p>
</footer>

</HTML>
