<div>
    <p style="color:rgb(180, 63, 135);">{{message}}</p>
</div>
<div>
    {% if result[0][0] == 0 %}
    <p>Please add the customer</p>
    <a href="/add_customer"><button>Add customer</button></a>
    {% else %}
    <p id="customer_id" value={{result[0][1]}} style="color:rgb(180, 63, 135);">customerID:{{result[0][1]}}</p>
    <p>Name: {{result[0][2]}}</p>
    <p>Phone: {{result[0][3]}}</p>
    <p>Email: {{result[0][4]}}</p>
    <p>Address: {{result[0][5]}}</p>
    {% endif %}
</div>