<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">

    <style>
        select,
        input {
            width: 145px;
            height: 25px;
            margin: 1px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        label {
            display: inline-block;
            vertical-align: middle;
            font-size: 19px;
            color: rgb(243, 65, 15);
            font-weight: bold;
        }
    </style>
</head>

<BODY style="background-image:url('../static/images/car.png');  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">

    <div class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
    {% if logged_in != "" %}
        {% if user_role == "inventory_clerk" %}
        <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
        {% elif user_role == "manager" %}
        <a href="{{ url_for('view_reports') }}">View Reports</a>
        {% elif user_role == "service_writer" %}
            <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
        {% elif user_role == "sales_people" %}
            <a href="{{ url_for('add_sale') }}">Add Sale</a>
        {% elif user_role == "owner" %}
            <div class="dropdown">
                <button class="dropbtn">Operations
                    <i class="fa fa-caret-down"></i>
                </butt  on>
                <div class="dropdown-content">
                    <a href="{{ url_for('add_sale') }}">Add Sale</a>
                    <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                    <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                    <a href="{{ url_for('view_reports') }}">View Reports</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <!-- <a href="#">Contact Us</a> -->
    <div class="dropdown">
        <button class="dropbtn">Employee
            <i class="fa fa-caret-down"></i>
        </button>
        {% if logged_in == "" %}
        <div class="dropdown-content">
            <a href="{{ url_for('login') }}">Log In</a>
        </div>
        {% else %}
        <div class="dropdown-content">
            <h3>Hi, {{ logged_in }}!</h3>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
        {% endif %}
    </div>
    </div>

    <center>
        {% if number_of_available_vehicle %}
        <h3 style="font-size:200%;">
            Now we have <span style="color: red">{{number_of_available_vehicle}}</span> vehicles available for purchase!
        </h3>
        {% endif %}
    </center>

    <center>
        {% if logged_in != "" %}
        <form method="POST" action="">
            <left>
                <div>
                    <label>VIN</label>
                    <input type="text" name="v_vin">
                    <!-- <input type="submit" name="btn_search" value="Search by VIN"> -->
                </div>

                <div>
                    <label>Type</label>
                    <select name="v_type">
                        <option>-- select one --</option>
                        <option value="Car">Car</option>
                        <option value="Convertible">Convertible</option>
                        <option value="Truck">Truck</option>
                        <option value="Van_Minivan">Van_Minivan</option>
                        <option value="SUV">SUV</option>
                    </select>
                    <!-- <input type="submit" name="btn_search" value="Search by Type"> -->
                </div>


                <div>
                    <label>Manufacturer</label>
                    <select name="v_manufacturer" style="height:30px">
                        <option>-- select one --</option>
                        {% for manufacturer in manufacturers %}
                        <option>{{ manufacturer }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label>Model year</label>
                    <select name="v_model_year" style="height:30px">
                        <option>-- select one --</option>
                        <option>2022</option>
                        <option>2021</option>
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2015</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                        <option>1999</option>
                        <option>1998</option>
                        <option>1997</option>
                        <option>1996</option>
                        <option>1995</option>
                        <option>1994</option>
                        <option>1993</option>
                        <option>1992</option>
                        <option>1991</option>
                        <option>1990</option>
                        <option>1989</option>
                        <option>1988</option>
                        <option>1987</option>
                        <option>1986</option>
                        <option>1985</option>
                        <option>1984</option>
                        <option>1983</option>
                        <option>1982</option>
                        <option>1981</option>
                        <option>1980</option>
                        <option>1979</option>
                        <option>1978</option>
                        <option>1977</option>
                        <option>1976</option>
                    </select>
                </div>
                <div>
                    <label>Color(s)</label>
                    <select name="v_colors" style="height:60px" multiple>
                        <option>Aluminum</option>
                        <option>Beige</option>
                        <option>Black</option>
                        <option>Blue</option>
                        <option>Brown</option>
                        <option>Bronze</option>
                        <option>Claret</option>
                        <option>Copper</option>
                        <option>Cream</option>
                        <option>Gold</option>
                        <option>Gray</option>
                        <option>Green</option>
                        <option>Maroon</option>
                        <option>Metallic</option>
                        <option>Navy</option>
                        <option>Orange</option>
                        <option>Pink</option>
                        <option>Purple</option>
                        <option>Red</option>
                        <option>Rose</option>
                        <option>Rust</option>
                        <option>Silver</option>
                        <option>Tan</option>
                        <option>Turquoise</option>
                        <option>White</option>
                        <option>Yellow</option>
                    </select>
                </div>
                <div>
                    <label>Price >=</label> <input type="text" name="v_list_price" onfocus="this.value=''">
                </div>
                <div>
                    <label>Key word</label> <input type="text" name="v_key_word" onfocus="this.value=''">
                </div>

                {% if user_role == "owner" or user_role == "manager" %}
                <div>
                    <label>Sale status</label>
                    <select name="v_sale_status" style="height:30px">
                        <option>-- select one --</option>
                        <option value="sold_vehicles">Sold vehicles</option>
                        <option value="unsold_vehicles">Unsold vehicles</option>
                        <option value="all_vehicles">All vehicles</option>
                    </select>
                </div>
                {% endif %}
                <div>
                    <input type="submit" name="btn_search" value="Search"
                        style="font-size:16px;color:green;font-weight: bold;">
                    <input type="submit" name="btn_search" value="Clear All"
                        style="font-size:16px;color:green;font-weight: bold;">
                </div>
                <h3 style="color:rgb(243, 65, 15);">
                    (You can put multiple conditions for searching!)
                </h3>
            </left>
        </form>
        {% else %}
        <form method="POST" action="">
            <left>
                <div>
                    <label>Type</label>
                    <select name="v_type">
                        <option>-- select one --</option>
                        <option value="Car">Car</option>
                        <option value="Convertible">Convertible</option>
                        <option value="Truck">Truck</option>
                        <option value="Van_Minivan">Van/Minivan</option>
                        <option value="SUV">SUV</option>
                    </select>
                    <!-- <input type="submit" name="btn_search" value="Search by Type"> -->
                </div>

                <div>
                    <label>Manufacturer</label>
                    <select name="v_manufacturer" style="height:30px">
                        <option>-- select one --</option>
                        {% for manufacturer in manufacturers %}
                        <option>{{ manufacturer }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label>Model year</label>
                    <select name="v_model_year" style="height:30px">
                        <option>-- select one --</option>
                        <option>2022</option>
                        <option>2021</option>
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2015</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                        <option>1999</option>
                        <option>1998</option>
                        <option>1997</option>
                        <option>1996</option>
                        <option>1995</option>
                        <option>1994</option>
                        <option>1993</option>
                        <option>1992</option>
                        <option>1991</option>
                        <option>1990</option>
                        <option>1989</option>
                        <option>1988</option>
                        <option>1987</option>
                        <option>1986</option>
                        <option>1985</option>
                        <option>1984</option>
                        <option>1983</option>
                        <option>1982</option>
                        <option>1981</option>
                        <option>1980</option>
                        <option>1979</option>
                        <option>1978</option>
                        <option>1977</option>
                        <option>1976</option>
                    </select>
                </div>
                <div>
                    <label>Color (s)</label>
                    <select name="v_colors" style="height:60px" multiple>
                        <option>Aluminum</option>
                        <option>Beige</option>
                        <option>Black</option>
                        <option>Blue</option>
                        <option>Brown</option>
                        <option>Bronze</option>
                        <option>Claret</option>
                        <option>Copper</option>
                        <option>Cream</option>
                        <option>Gold</option>
                        <option>Gray</option>
                        <option>Green</option>
                        <option>Maroon</option>
                        <option>Metallic</option>
                        <option>Navy</option>
                        <option>Orange</option>
                        <option>Pink</option>
                        <option>Purple</option>
                        <option>Red</option>
                        <option>Rose</option>
                        <option>Rust</option>
                        <option>Silver</option>
                        <option>Tan</option>
                        <option>Turquoise</option>
                        <option>White</option>
                        <option>Yellow</option>
                    </select>
                </div>
                <div>
                    <label>Price >=</label> <input type="text" name="v_list_price" onfocus="this.value=''">
                </div>
                <div>
                    <label>Key word</label> <input type="text" name="v_key_word" onfocus="this.value=''">
                </div>
                <div>
                    <input type="submit" name="btn_search" value="Search"
                        style="font-size: 16px; color:green;font-weight: bold;">
                    <input type="submit" name="btn_search" value="Clear All"
                        style="font-size: 16px;color:green;font-weight: bold;">
                </div>
                <h3 style="color:rgb(243, 65, 15);">
                    (You can put multiple conditions for searching!)
                </h3>
            </left>
        </form>
        {% endif %}
    </center>

</BODY>

</HTML>