<div>
    <p>
        <h3 style="color:rgb(180, 63, 135);">{{message}} </h3>
    </p>
    {% if result[0][0] != 0 %}
    <p style="color:rgb(180, 63, 135);"><b>Basic Vehicle Information</b></p>
    <p>Year: {{ result[0][1] }}</p>
    <p>Model: {{ result[0][2] }}</p>
    <p>Manufacturer: {{ result[0][3] }}</p>
    <p>Color(s): {{ result[0][4] }}</p>
    {% if result[0]|length >5 %}
    <p>Purchase on: {{ result[0][5] }}</p>
    {% endif %}

    {% elif result1[0][0] == 0 %}
    <p>Please add the vehicle </p>
    <a href="/add_vehicle"><button>Add vehicle</button></a>
    {% endif %}

    {% if open_repair_data %}
        <p style="color:rgb(180, 63, 135);"><b>Open Repair Information</b></p>
        <p>Repair ID: {{ open_repair_data[0][0] }}</p>
        <p>Customer ID: {{ open_repair_data[0][2] }}</p>
        <p>Start Date: {{ open_repair_data[0][3] }}</p>
        <p>Labor charge: {{ open_repair_data[0][4] }}</p>
        <h3>What you do on it is updating labor charges, adding parts, or closing the repair.</h3>
    {% endif %}
</div>