<HTML lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaunty Jalopies|CS6400|Team030</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">


    <style>
        td {
            padding: 8px;
            font-size: 24px;
            color: rgb(27, 33, 19);
        }

        th {
            padding: 10px;
            font-size: 28px;
            font-weight: bold;
            color: purple;
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body
    style="background-image:url('../static/images/car.png'); height:100%;background-position: center; background-repeat: no-repeat; background-size:cover;">
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
        {% if logged_in != "" %}
        {% if user_role == "inventory_clerk" %}
        <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
        {% elif user_role == "manager" %}

        {% elif user_role == "service_writer" %}
        <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
        {% elif user_role == "sales_people" %}
        <a href="{{ url_for('add_sale') }}">Add Sale</a>
        {% elif user_role == "owner" %}
        <div class="dropdown">
            <button class="dropbtn">Operations
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                <a href="{{ url_for('add_repair') }}">Add Repair</a>
                <a href="{{ url_for('add_vehicle') }}">Add/Update Vehicle</a>
                <a href="{{ url_for('view_reports') }}">View Reports</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!-- <a href="#">Contact Us</a> -->
        <div class="dropdown">
            <button class="dropbtn">Employee
                <i class="fa fa-caret-down"></i>
            </button>
            {% if logged_in == "" or logged_in == null %}

            <div class="dropdown-content">
                <a href="{{ url_for('login') }}">Log In</a>
            </div>
            {% else %}
            <div class="dropdown-content">
                <h3>Hi, {{ logged_in }}!</h3>
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
            {% endif %}
        </div>
    </div>

    <center style="background-color:rgb(119, 153, 147);">
        <table>
            {% for item in data0%}
            <tr>
                <th>VIN</th>
                <th>Vehicle Type</th>
                <th>Manufacturer Name</th>
                <th>Model Name</th>
                <th>Model Year</th>
                <th>Colors</th>
                <th>Descriptions</th>

            </tr>
            <tr>

                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
            </tr>
            {% endfor %}

        </table>

        {% for message in error_messages %}
        <center>
            <h1 style="color:rgb(30, 20, 122);">{{message}}</h1>
        </center>
        {% endfor %}

        <table>
            {% if repair_data %}
            <tr>
                <!-- /* if customer is business, then data2 will be 'Customer_Business_name' vice versa */ -->

                <th>Customer Name</th>
                <th>Start Date</th>
                <th>Complete Date</th>
                <th>VIN</th>
                <th>Odometer</th>
                <th>Parts Cost</th>
                <th>Labor Cost</th>
                <th>Total Cost </th>
                <th>Service Writer</th>
            </tr>
            {% endif %}
            <tr>
                {% for item in repair_data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
            </tr>

            {% endfor %}
            </tr>
        </table>

        <button onclick="goBack()" style="font-size:18px;font-weight: bold;">Go Back</button>


    </center>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>