<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    <style>
        td {
            padding: 8px;
            font-size: 22px;
            color: rgb(27, 33, 19);
            
        }
        td:focus, td:hover {
        color: #23527c;

        }

        th {
            padding: 10px;
            font-size: 24px;
            font-weight: bold;
            color: purple;
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

      tr.hide_all > td, td.hide_all{
      border-style:hidden;
      }
    </style>

</head>

<BODY style="background-image:url('../static/images/car.png');  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
        {% if logged_in != "" %}
        {% if user_role == "inventory_clerk" %}
            <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
        {% elif user_role == "manager" %}
            <a href="{{ url_for('view_reports') }}">View Reports</a>
        {% elif user_role == "service_writer" %}
            <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
        {% elif user_role == "sales_people" %}
            <a href="{{ url_for('add_sale') }}">Add Sale</a>
        {% elif user_role == "owner" %}
        <div class="dropdown">
            <button class="dropbtn">Operations
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                <a href="{{ url_for('add_repair') }}">Add Repair</a>
                <a href="{{ url_for('add_vehicle') }}">Add/Update Vehicle</a>
                <a href="{{ url_for('view_reports') }}">View Reports</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!-- <a href="#">Contact Us</a> -->
        <div class="dropdown">
            <button class="dropbtn">Employee
                <i class="fa fa-caret-down"></i>
            </button>
            {% if logged_in == "" %}
            <div class="dropdown-content">
                <a href="{{ url_for('login') }}">Log In</a>
            </div>
            {% else %}
            <div class="dropdown-content">
                <h3>Hi, {{ logged_in }}!</h3>
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
            {% endif %}
        </div>
    </div>

    {% for m in search_condition %}
    <center>
        <h2 style="color:blue;">{{m}}</h2>
    </center>
    {% endfor %}


    <center>
        <table id="vehicle_display">
            {% if data %}
            <tr>
                <th onclick="sortTable(0)">VIN</th>
                <th onclick="sortTable(1)">Type</th>
                <th onclick="sortTable(2)">Make</th>
                <th onclick="sortTable(3)">Model</th>
                <th onclick="sortTable(4)">Year</th>
                <th onclick="sortTable(5)">Color(s)</th>
                <th onclick="sortTable(6)">Price ($)</th>
                <th onclick="sortTable(7)">Keyword<br> Matched</th>
                <th onclick="sortTable(8)">Detail</th>
            </tr>
            {% endif %}

            {% if data %}
                {% for item in data %}
                <tr class="hide_all" style="background-color:white;border-style:hidden;">
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    <td style="text-align:right">{{item[6]}}</td>
                    <td style="text-align:center">{{item[7]}}</td>
                    <td onclick="window.location.href='{{ url_for('view_vehicle_details', rowData=item) }}';"
                        style="cursor:pointer; text-decoration: underline;">
                        Detail</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </center>

    {% for message in error_messages %}
    <center>
        <h1 style="color:red;">{{message}}</h1>
    </center>
    {% endfor %}

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("vehicle_display");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (n != 6) {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (n == 6) {
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }

                    } else if (dir == "desc") {
                        if (n != 6) {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (n == 6) {
                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }

                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</BODY>

</HTML>