<HTML lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jaunty Jalopies|CS6400|Team030</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A platform for crowd-sourced knowledge capture">
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- link home-built css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
        <style>
            td {
                padding: 8px;
                font-size: 24px;
                color: rgb(27, 33, 19)
            }
    
            th {
                padding: 10px;
                font-size: 28px;
                font-weight: bold;
                color: black;
                cursor: pointer;
            }
    
            tr:nth-child(even) {
                background-color: #f2f2f2
            }
        </style>
    
    </head>
    
    <BODY style="background-image:url('../static/images/car.png');  height:100%;
        background-position: center; background-repeat: no-repeat; background-size:cover;">
    
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>

            <div class="dropdown">
                <button class="dropbtn">Employee
                    <i class="fa fa-caret-down"></i>
                </button>
                {% if logged_in == "" or logged_in == null %}
                    <div class="dropdown-content">
                        <a href="{{ url_for('login') }}">Log In</a>
                    </div>
                {% else %}
                    <div class="dropdown-content">
                        <h3>Hi, {{ logged_in }}!</h3>
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </div>
                {% endif %}
            </div>
            
            <div>
                <div class="dropdown">
                    <button class="dropbtn">Operations
                        <i class="fa fa-caret-down"></i>
                    </button>
                    {% if logged_in != "" %}
                        {% if user_role == "inventory_clerk" %}
                            <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                        {% elif user_role == "manager" %}
                            <div class="dropdown-content">
                                <a href="{{ url_for('view_repairs') }}">View Repairs</a>
                            </div>
                        {% elif user_role == "service_writer" %}
                            <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                        {% elif user_role == "sales_people" %}
                            <a href="{{ url_for('add_sale') }}">Add Sale</a>
                        {% elif user_role == "owner" %}
                            <div class="dropdown-content">
                                <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                                <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                                <a href="{{ url_for('view_reports') }}">View Reports</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>  
        </div>

        <p align="center"><a href=sales_by_color_report><button class=grey>Sales by Color Report</button></a></p>
    
        <p align="center"><a href=sales_by_type_report><button class=grey>Sales by Type Report</button></a></p>

        <p align="center"><a href=sales_by_maker_report><button class=grey>Sales by Manufacturer Report</button></a></p>

        <p align="center"><a href=income_report><button class=grey>Gross Customer Income Report</button></a></p>

        <p align="center"><a href=repairs_report><button class=grey>Repairs Report</button></a></p>

        <p align="center"><a href=below_cost_sales_report><button class=grey>Below Cost Sales Report</button></a></p>

        <p align="center"><a href=ave_time_inventory_report><button class=grey>Average Time in Inventory Report</button></a></p>

        <p align="center"><a href=parts_report><button class=grey>Parts Statistics Report</button></a></p>

        <p align="center"><a href=monthly_sales_report><button class=grey>Monthly Sales Report</button></a></p>

        <form method="POST" action="">
            <center>
                
                
            </center>
        </form>
        
    </BODY>
    
</HTML>