<HTML lang="en">

<head>
    <meta charset="utf-8">
    <title>Jaunty Jalopies|CS6400|Team030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform for crowd-sourced knowledge capture">
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link home-built css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    <style>
        td {
            padding: 8px;
            font-size: 24px;
            color: rgb(27, 33, 19);

        }

        td:focus,
        td:hover {
            color: #23527c;
            text-decoration: underline;
        }

        th {
            padding: 10px;
            font-size: 28px;
            font-weight: bold;
            color: purple;
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

</head>

<BODY style="background-image:url('../static/images/car.png');  height:100%;
    background-position: center; background-repeat: no-repeat; background-size:cover;">
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('search_vehicle') }}">Search Vehicle</a>
        {% if logged_in != "" %}
        {% if user_role == "inventory_clerk" %}
        <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
        {% elif user_role == "manager" %}
        <a href="{{ url_for('view_reports') }}">View Reports</a>
        {% elif user_role == "service_writer" %}
        <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
        {% elif user_role == "sales_people" %}
        <a href="{{ url_for('add_sale') }}">Add Sale</a>
        {% elif user_role == "owner" %}
        <div class="dropdown">
            <button class="dropbtn">Operations
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('add_sale') }}">Add Sale</a>
                <a href="{{ url_for('add_repair') }}">Add/Update Repair</a>
                <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                <a href="{{ url_for('view_reports') }}">View Reports</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!-- <a href="#">Contact Us</a> -->
        <div class="dropdown">
            <button class="dropbtn">Employee
                <i class="fa fa-caret-down"></i>
            </button>
            {% if logged_in == "" %}
            <div class="dropdown-content">
                <a href="{{ url_for('login') }}">Log In</a>
            </div>
            {% else %}
            <div class="dropdown-content">
                <h3>Hi, {{ logged_in }}!</h3>
                <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
            {% endif %}
        </div>
    </div>


    {% if detail_data %}
        {% if logged_in != "" %}
            {% if user_role == "inventory_clerk" or user_role == "owner" %}
                {% if page_from == 'add_vehicle' %}
                    <h1>The details about the vehicle you just added:</h1>
                {% endif %}
            {% endif %}
        {% else %}
            <h1>The details about the vehicle you selected:</h1>
        {% endif %}

        <div style="width:600px; margin:0 auto;">
        <left>

            <h2 style="color:rgb(255, 68, 0)">VIN: {{detail_data[0][0]}}</h2>
            <h2 style="color:rgb(255, 68, 0)">Vehicle type: {{detail_data[0][8]}}</h2>
            <h2 style="color:rgb(255, 68, 0)">Attributes of this vehicle:</h2>
            {% if detail_data[0][8] == 'Car' %}
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;No. of doors: {{detail_data[0][10]}}</h2>
            {% elif detail_data[0][8] == 'Convertible' %}
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Roof type: {{detail_data[0][10]}}</h2>
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Back seat count: {{detail_data[0][11]}}</h2>
            {% elif  detail_data[0][8] == 'Truck' %}
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Cargo capability (tons): {{detail_data[0][10]}}</h2>
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Cargo cover type: {{detail_data[0][11]}}</h2>
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;No. of rear axles: {{detail_data[0][12]}}</h2>
            {% elif detail_data[0][8] == 'Van_Minivan' %}
                {% if detail_data[0][10] == 1 %}
                    <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Has driver side backdoor: Yes</h2>
                {% else %}
                    <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Has driver side backdoor: No</h2> 
                {% endif %}
            {% elif detail_data[0][8] == 'SUV' %}
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Drivetrain type: {{detail_data[0][10]}}</h2>
                <h2 style="color:rgb(255, 68, 0)">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;No. of cupholder: {{detail_data[0][11]}}</h2>
            {% endif %}
            <h2 style="color:rgb(255, 68, 0)">Manufacturer: {{detail_data[0][1]}}</h2>
            <h2 style="color:rgb(255, 68, 0)">Model name: {{detail_data[0][2]}}</h2>
            <h2 style="color:rgb(255, 68, 0)">Model year: {{detail_data[0][3]}}</h2>
            <h2 style="color:rgb(255, 68, 0)">Color(s): {{detail_data[0][4]}}</h2>
            <h2 style="color:rgb(255, 68, 0)">List price($): {{detail_data[0][5]}}</h2>
            {% if logged_in != "" %}
                {% if user_role == "inventory_clerk" or user_role == "owner" %}
                    {% if page_from == 'add_vehicle' %}
                        <h2 style="color:rgb(255, 68, 0)">Invoice price: {{detail_data[0][6]}}</h2>
                    {% endif %}
                {% endif %}
            {% endif %}
            <h2 style="color:rgb(255, 68, 0)">Description: {{detail_data[0][7]}}</h2>

        </left>
    </div>

    {% endif %}
    
    <center>
        {% if user_role != "" %}
        <button align="center" style="font-size:18px;font-weight: bold;" onclick="window.location.href='{{ url_for('view_repairs_from_detail', value=detail_data[0][0])}}';"
            style="cursor:pointer; text-decoration: underline;">View Repair Information</button>
        
        <button align="center" style="font-size:18px;font-weight: bold;" onclick="window.location.href='{{ url_for('view_sales', value=detail_data[0][0])}}';"
            style="cursor:pointer; text-decoration: underline;">View Sale Information</button>
        {% endif %}

        <button onclick="goBack()" style="font-size:18px;font-weight: bold;">Go Back</button>
    </center>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</BODY>

</HTML>