body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    /* background-color: lightskyblue; */
}

.navbar a {
    float: left;
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 26px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(175, 226, 93);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav-right {
    float: right;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

